@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", serif;
}

img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100vw;
    display: inline;
}

.container {
    z-index: 15;
    position: absolute;
    right: 200px;
    top: 100px;
}


.form-container {
    background-color: #1A1A1AD4;
    width: 500px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
}

h1 {
    color: #FFFFFF;
    font-size: 2rem;
    padding-bottom: 15px;
    font-weight: bold;
}

p {
    color: #F9F9F9;
    font-size: 1.1rem;
    padding-bottom: 20px;
}

h1,
p,
label {
    direction: rtl;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #FFFFFF;
    font-size: 1rem;
}

#name,
#email {
    background-color: #FFFFFF;
    border: 2px solid #D31C75;
    padding: 10px;
}

#submit {
    background-color: #D31C75;
    color: #FFFFFF;
    padding: 12px;
    width: 150px;
    justify-self: flex-end;
    align-self: flex-end;
    border: none;
}

#submit:hover {
    transform: scale(1.02, 1.02);
    transition: 0.9s;
}

@media (max-width: 575.98px) {
    .form-container {
        width: 300px;
        padding: 20px;
    }
}


@media (max-width: 767.98px) {
    .container {
        right: 50%;
        transform: translateX(50%);
        margin: 0 auto;
    }

    .form-container {
        width: 320px;
        padding: 40px;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    label {
        font-size: 0.8rem;
    }
}


@media (max-width: 991.98px) {
    .container {
        right: 150px;
    }
}


@media (max-width: 1199.98px) {
    ...
}

@media (max-width: 1399.98px) {
    ...
}