* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    background-image: url(./images/Path\ 15.png);
    width: 100vw;
    height: 60vh;
}

.form-container {
    background-color: #1A1A1AD4;
}