* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: assistant;
    direction: ltr;
}

body {
    background-image: url(../images/Path\ 15.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 0 auto;

}

h1 {
    color: #D3E10E;
    font-size: 5rem;
    padding-bottom: 40px;
}

p {
    color: #F9F9F9;
    font-size: 1.3rem;
}

form {
    margin-top: 32vh;
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form label {
    color: #011560;
    font-size: 1rem;
    text-align: right;
    justify-content: right;
}

input[type="text"],
input[type="email"] {
    background-color: #F6F6F6;
    border: none;
    border-bottom: 3px solid #D3E10E;
    padding: 10px;
    width: 300px;
}

input[type="submit"] {
    padding: 10px;
    color: #011560;
    background-color: #D3E10E;
    border: none;
    margin-top: 20px;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #414503;
    color: #F9F9F9;
    transition: 2s;
}